doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title GridAI
    //- link(rel='stylesheet', href=stylesheet_tag('app.css'), media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href=url_for('static', filename='css/app.css'), media='screen', title='no title', charset='utf-8')
  body
    .container-fluid
      .container
        header
          h1 Welcome to GridAI
          p Control the player using the arrow keys or WASD and get to the bottom of the maze
        span.float-right.theme-toggle
          label.theme-label Theme:
          label.switch
            input(name='theme', type='checkbox')
            span.slider.round
    .container-fluid
      .container
        #maze_form.justify-content-between.row
          form.col
            .row
              .col-12.col-md-8
                .row
                  .col-12.col-sm-6.form-inline
                    label.sr-only(for='width') Width
                    .input-group.mb-2.mr-sm-2.mb-sm-0
                      .input-group-addon Width&nbsp;
                      input.form-control(type='text', name='width')
                  .col-12.col-sm-6.form-inline
                    label.sr-only(for='height') Height
                    .input-group.mb-2.mr-sm-2.mb-sm-0
                      .input-group-addon Height
                      input.form-control(type='text', name='height')
                  .col-12
                    .container.mt-2
                      strong mode
                      .row.mode-toggle
                        input#mode1(type='radio', name='mode', value='casual', checked)
                        label.col-12.col-sm(for='mode1')
                          | Casual
                        input#mode2(type='radio', name='mode', value='timed')
                        label.col-12.col-sm(for='mode2')
                          | Timed
                        input#mode3.toggle_option(type='radio', name='mode', value='hypertime')
                        label.col-12.col-sm(for='mode3')
                          | Hypertime
                        .row.mode-slider-outer
                          .col.mode-slider
              .col.col-md
                button.btn.btn-success(type='submit') Generate
      .container
        #legend.row.justify-content-between
          .col-12.col-md-6.col-lg-3
            .row
              .d-inline-block.legend-swatch.dfs
              .col.legend-title Depth First Search
          .col-12.col-md-6.col-lg-3
            .row
              .d-inline-block.legend-swatch.bfs
              .col.legend-title Breadth First Search
          .col-12.col-md-6.col-lg-3
            .row
              .d-inline-block.legend-swatch.bestfirst
              .col.legend-title Best First Search
          .col-12.col-md-6.col-lg-3
            .row
              .d-inline-block.legend-swatch.astar
              .col.legend-title A* Search
      .maze
        //- canvas#canvas(width='500', height='300')
    //- script(src=javascript_tag('manifest.js'), charset='utf-8')
    //- script(src=javascript_tag('vendor.js'), charset='utf-8')
    //- script(src=javascript_tag('app.js'), charset='utf-8')
    script(src=url_for('static', filename='js/manifest.js'), charset='utf-8')
    script(src=url_for('static', filename='js/vendor.js'), charset='utf-8')
    script(src=url_for('static', filename='js/app.js'), charset='utf-8')
