doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title GridAI
    link(rel='stylesheet', href=url_for('static', filename='app.css'), media='screen', title='no title', charset='utf-8')
  body
    .container-fluid
      .container
        header
          h1 Welcome to GridAI
          p Control the player with WASD and get to the bottom of the maze
    .container-fluid
      .container
        #maze_form.justify-content-between
          form.form-inline
            label.sr-only(for='width') Width
            .input-group.mb-2.mr-sm-2.mb-sm-0
              .input-group-addon Width&nbsp;
              input.form-control(type='text', name='width')
            label.sr-only(for='height') Height
            .input-group.mb-2.mr-sm-2.mb-sm-0
              .input-group-addon Height
              input.form-control(type='text', name='height')
            button.btn.btn-success(type='submit') Generate
          span
            label.theme-label Theme:
            label.switch
              input(name='theme', type='checkbox')
              span.slider.round
      .maze
        //- canvas#canvas(width='500', height='300')
    //- script(src=javascript_tag('index.js'), charset='utf-8')
    script(src=url_for('static', filename='manifest.js'), charset='utf-8')
    script(src=url_for('static', filename='vendor.js'), charset='utf-8')
    script(src=url_for('static', filename='app.js'), charset='utf-8')
