doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title GridAI
    //- link(rel='stylesheet', href=stylesheet_tag('app.css'), media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href=url_for('static', filename='css/app.css'), media='screen', title='no title', charset='utf-8')
  body
    .container-fluid
      .container
        header
          h1 Welcome to GridAI
          p Control the player with WASD and get to the bottom of the maze
    .container-fluid
      .container
        #maze_form.justify-content-between
          form
            .row
              .col-12.col-md-8.form-inline
                label.sr-only(for='width') Width
                .input-group.mb-2.mr-sm-2.mb-sm-0
                  .input-group-addon Width&nbsp;
                  input.form-control(type='text', name='width')
                label.sr-only(for='height') Height
                .input-group.mb-2.mr-sm-2.mb-sm-0
                  .input-group-addon Height
                  input.form-control(type='text', name='height')
                h4 MODE
                .form-inline
                  .form-check.form-check-inline
                    label.form-check-label
                      input.form-check-input(type='radio', name='mode', value='casual')
                      |  Casual
                  .form-check.form-check-inline
                    label.form-check-label
                      input.form-check-input(type='radio', name='mode', value='timed')
                      |  Timed
                  .form-check.form-check-inline
                    label.form-check-label
                      input.form-check-input(type='radio', name='mode', value='hypertime')
                      |  Hypertime
              .col.col-md
                button.btn.btn-success(type='submit') Generate
          span
            label.theme-label Theme:
            label.switch
              input(name='theme', type='checkbox')
              span.slider.round
      .container
        #legend.row.justify-content-between
          .col-12.col-md-6.col-lg-3
            .legend-swatch.dfs
            .legend-title Depth First Search
          .col-12.col-md-6.col-lg-3
            .legend-swatch.bfs
            .legend-title Breadth First Search
          .col-12.col-md-6.col-lg-3
            .legend-swatch.bestfirst
            .legend-title Best First Search
          .col-12.col-md-6.col-lg-3
            .legend-swatch.astar
            .legend-title A* Search
      .maze
        //- canvas#canvas(width='500', height='300')
    //- script(src=javascript_tag('manifest.js'), charset='utf-8')
    //- script(src=javascript_tag('vendor.js'), charset='utf-8')
    //- script(src=javascript_tag('app.js'), charset='utf-8')
    script(src=url_for('static', filename='js/manifest.js'), charset='utf-8')
    script(src=url_for('static', filename='js/vendor.js'), charset='utf-8')
    script(src=url_for('static', filename='js/app.js'), charset='utf-8')
